html, body { background: white; }

html { height: 100%; }

$fontsize: 12px;

body {
    color: black;
    font-family: monospace;
    font-size: $fontsize;
    line-height: 1;
    margin: 0;
    min-height: 100%;
    overflow-wrap: break-word;
}

.post-meta { text-align: right; }

h1, h2, h3, h4, h5, h6 { 
    margin: 0px;
}

li { margin: 0.15rem 0; }

.w {
    max-width: 512px;
    height: auto;
    margin: 1em auto;
}

@media (max-width: 800px) {
  #container {
    padding: 0;
    margin: 0;
  }
}

.box {
    @extend .w;
    padding: 1em;
    border: 1px solid black;
}

code {
    background: lightgray;
}

div.highlighter-rouge code {
    display: block;
    overflow-x: auto;
    white-space: pre-wrap;
    padding: 1rem;
}

img {
    height: auto;
    max-width: 512px * 0.5;
    display: block;
    margin: 0 auto;
    object-fit: scale-down;
    width: 100%;
}

h2 > img { 
    max-width: 512px * 0.465;
    max-height: 512px * 0.5;
    object-fit: cover;
    display: inline;
    padding: 0 0 0 512px*0.05;
    box-sizing: border-box;
}

h1 > img {
    max-width: 512px;
    padding: 0 512px*0.05;
    box-sizing: border-box;
}

img.logo {
    object-fit: cover;
    border-radius: 50%;
    height: 80px;
    width:  80px;
}

img + em { 
    font-size: $fontsize;
    text-align: center;
    display: block;
    margin: 0.5em auto;
    font-weight: normal;
}

$link-color: #4478A6;
$hover-color: darken($link-color, 20%);
a{
    color: $link-color;
    text-decoration: none;

    &:hover{
        color: $hover-color;
        border-bottom: 1px solid $hover-color;
    }

    &:visited{
    }
}
