---
layout: default
---

<main class="page-content" aria-label="Content">
    <div class="w">
    <div style="display: inline-block">
        <img src="{{ site.eleven.logo }}" class="rounded"> 
    </div>
    <div style="display: inline-block; vertical-align: top; margin: 0 10px">
        {{ content }}
    </div>
    </div>

    {% for page in site.pages %}
    {% if page.layout == 'block' %}
    <div class="box">
        {{ page.content | markdownify }}
    </div>
    {% endif %}
    {% endfor %}

    {%- assign date_format = site.eleven.date_format | default: "%b %d, %Y" -%}
    <div class="box">
        <h2>Posts</h2>
        <ul>
            {% for post in site.posts %}
            <li>{{ post.date | date: date_format }} - <a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</main>


